@font-face {
  font-family: suisse mono;
  src: url(assets/fonts/SuisseEDUIntlMono-Regular-WebS.woff2);
}

@font-face {
  font-family: suisse;
  src: url(assets/fonts/SuisseEDUIntl-Book-WebS.woff2);
}

@font-face {
  font-family: suisse-bold-mono;
  src: url(assets/fonts/SuisseEDUIntlMono-Bold-WebXL.woff2);
}


* {
  cursor: none !important;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  }

  body {
    cursor: none; 
  }

 
h3 {
  font-family: suisse mono;
  font-size: 1rem;
  color: rgb(121, 121, 121);
  text-transform: uppercase;
  font-weight: 500;
}

.zitat{
padding-left: 1.1rem;
}

.bottom-left {
  position: fixed;
  bottom: 3%;
  left: 3%;
  /* height: 50%; */
  width: 30%;
}

.top-right {
  position: fixed;
  width: 12rem;
  top: 3%;
  right: 3%;
  display: flex;
justify-content: space-between;

}

.top-right-info {
  position: fixed;
  top: 3%;
  right: 3%;

}

.top-left {
  position: fixed;
  top: 3%;
  left: 3%;
  width: 30%;
}

.bottom-right {
  position: fixed;
  bottom: 3%;
  right: 3%;

}


.visual {
  width: 85%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.zoom{  
  height:100vh;  
  width:100%;  
  display:grid;  
  place-items:center;  
  position:fixed;  
  top:0;  
  left:0;
}

.fade {
  transition: color 1s;
}

.fade:hover {
  color: #1386c8;
}

.fade:focus,
.fade:active {
  color: black;
  transition: none;
}

a {
  text-decoration: none;
}

.padding {
  padding: 0.1rem;
}

#tooltipText1 {
  font-family: suisse mono;
  display: none;
  position: fixed;
  color: rgb(121, 121, 121);
  /* padding: 5px; */
  /* border-radius: 5px; */
  z-index: 500;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  font-weight: 500;

}

#tooltipText2 {
  font-family: suisse mono;
  display: none;
  position: fixed;
  color: rgb(121, 121, 121);
  /* padding: 5px; */
  /* border-radius: 5px; */
  z-index: 500;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

#tooltipText3 {
  font-family: suisse mono;
  display: none;
  position: fixed;
  color: rgb(121, 121, 121);
  /* padding: 5px; */
  /* border-radius: 5px; */
  z-index: 500;
  font-size: 1rem;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

#dot {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  transition: background-color 0.5s;
  pointer-events: none;
  z-index: 100;
}

.scroll-indicator {
  position: fixed;
  top: 3%;
  text-align: center;
  width: 100%;
  pointer-events: none;
  display: none;
  color: rgb(121, 121, 121);
  padding: 5px 10px;
  font-size: 1rem;
  font-family: suisse mono;
  font-weight: 500;
  z-index: 9999;
  text-transform: uppercase;
  transition: opacity 1s ease;
  margin: 16px;
}


.active {
  font-family: suisse-bold-mono;
}



