@font-face {
  font-family: 'GT-Planar-Regular-Trial';
  src: url(assets/GT-Planar/GT-Planar-Regular-Trial.otf);
}

@font-face {
  font-family: 'GT-Planar-Light-Trial';
  src: url(assets/GT-Planar/GT-Planar-Light-Trial.otf);
}




/*general settings*/
* {
  margin: 0px;
  padding: 0px;
  /*box-sizing: border-box;*/
}






body {
  /*transition: background 1s ease-in-out;*/
  background-color: rgb(0, 0, 0);
}

img{
object-fit: contain;
}

h1{
  font-size: 370px;
  text-align: center;
  line-height: 1;
  font-family: 'GT-Planar-Regular-Trial', sans-serif;
  color: #fff;
  margin: 0px;
}

h2{
  font-family: 'GT-Planar-Light-Trial', sans-serif;
  font-size: 100px;
  text-align: left;
  line-height: 1;
  color: rgb(255, 255, 255);
  margin: 0px;
  text-transform: uppercase;
}

h3{
  font-family: 'GT-Planar-Light-Trial', sans-serif;
  font-size: 100px;
  line-height: 1;
  color: rgb(255, 255, 255);
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
}

.h3{
  font-family: 'GT-Planar-Light-Trial', sans-serif;
  font-size: 100px;
  line-height: 1;
  color: rgb(255, 255, 255);
  margin-bottom: 300px;
  padding: 0px;
  text-transform: uppercase;
}


h4{
  font-family: 'GT-Planar-Light-Trial', sans-serif;
  font-size: 500px;
  color:rgb(255, 255, 255);
  margin: 0;
}

h5{
  font-family: 'GT-Planar-Light-Trial', sans-serif;
  font-size: 380px;
  line-height: 0.8;
  color:rgb(255, 255, 255);
}

.h5{
  font-family: 'GT-Planar-Light-Trial', sans-serif;
  font-size: 380px;
  line-height: 0.8;
  color:rgb(255, 255, 255);
  margin-top: 450px;
  margin-bottom: 50px;
}

.p1{
  font-family: 'GT-Planar-Light-Trial', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  line-height:normal;
  color: #fff;
  margin: 0px;
  padding: 0px;
}

p{
color: white;
}

.justified{
  text-align: justify;
}









.backgroundScratch{
z-index: 8000;
position:absolute;
max-width: 100%;
/*object-fit: contain;*/
}

.backgroundScratch div{
  margin-bottom: 200px;
}

.scratch1{
  top: 3600px;
}

.scratch2{
  top: 7800px;
}

.scratch3{
  top: 10500px;
}

.scratch4{
  top: 17300px;
}

.scratch5{
  top:20900px;
}

.scratch6{
  top: 1400px;
}

/*https://www.youtube.com/watch?v=ylYDtARRmOo*/
/*Magnifier*/
/*
.img-magnifier-container{
  position: relative;
  width: 100vw;
  height: 200vh;
}
.img-magnifier-glass{
  position: absolute;
  border: 2px solid #000;
  cursor: none;
  width: 200px;
  height: 200px;
}*/











/*color background parts*/
/*.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150vh;
  color: #fff;
  font-family: sans-serif;
  /*font-size: 72px;
  font-weight: 600;
  text-transform: uppercase;
}

[data-bg="yellow"] { color: #333; }

*/







/*CONTAINER 1ST IMAGE*/
.containerONE {
  position: relative;
  justify-content:center;
  align-items:center;
  /*display: grid;*/
  place-items: center;
  width: 100vw; /* Adjust the width of the container as needed */
  height: 200vh; /* Adjust the height of the container as needed */
  z-index: -10;
}

.containerONE img{
   position:absolute;
  /*top: 50%;
  left: 50%;*/
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  /*transform: translate(-50%, -50%);*/
  z-index: -10;
}








/*CONTAINER 2 IMAGE GROUP - clicking images*/
.containerTWO {
  position:relative;
  justify-content: center;
  align-items: center;
  /*display: grid;*/
  place-items: center;
  width: 100vw; /* Adjust the width of the container as needed */
  height: 1900px; /* Adjust the height of the container as needed */
  margin-top: 250px;
  margin-bottom: 150px;
  overflow: hidden;
}

.containerTWO img.image{
  /*position:absolute;*/
   /* max-width: 100%;
  max-height: 100%; */
  /*object-fit: cover;*/
  /*transform: translate(-50%, -50%);*/
  z-index: 600;
  width: 35%;
  justify-content: center;
  align-items: center;
}

/*Filter invert*/
/*https://www.youtube.com/watch?v=N3tDnl48kkI&t=22s*/
.main-image{
  filter: drop-shadow(0px 0px 0px red) invert(95%);
  transition: filter 0.75s;
}

.main-image:hover{
  filter: invert(0%);
}








/*
.containerTWO img.workspaceImg{
  position:absolute;
  top: 30%;
  left:70%;
  z-index: 50;
}


/*ZOOM IMAGE*/
/*.workspace {
  height: 300px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  display:grid;
  place-items: center;
  font: 700 12px system-ui;
}
*/










.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 0%;
}









.centerVideo{
  /*display: block;*/
  /* margin-left: auto;
  margin-right: auto; */
  width: 100%;
  margin: 0px;
  padding: 0px;
}


video .centerVideo{
  margin: 0px;
  padding: 0px;
}

source .centerVideo{
  margin: 0px;
  padding: 0px;
}









div{
  margin: 0px;
}















/*Scrolling Titel*/
.containerLine5{
  position:relative;
  width: 100%;
  margin-bottom: 0;
}

.line-5{
  position:absolute;
  /*top: 1%;*/
  white-space: nowrap;
  text-align: left;
  /*margin-left: 20px;*/
}

#five{
  position: fixed;
  z-index: 10000;
}






#keywords {
  position: relative;
  width: 100%;
  z-index: 2000;
  margin-bottom: 0;
}

#wordPlay{
  margin-bottom: 300x;
}

/*Schlüsselwörter*/
/*UNKNOWN*/
.line-1{
  position: absolute;
  top: 0;
  white-space: nowrap;
}

  /*NOISE*/
.line-2{
  position: absolute;
  /*top: 0.8em;*/
  top: 100px;
  white-space: nowrap;
}

  /*VOYAGE*/
.line-3{
  position: absolute;
  top: 200px;
  white-space: nowrap;
}

  /*NOMAD*/
.line-4{
  position: absolute;
  top: 300px;
  white-space: nowrap;
}









/*FlexBoxContainer for text combinations*/
.flex-container > div{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.flex-containerOne > div {
  background-color: #f1f1f100;
  margin: 0px;
  text-align: justify;
  margin-bottom: 0;
}









/*Glitch*/
.glitchText{
  text-shadow: 0.06rem 0 0.06rem #ea36af, -0.125rem 0 0.06rem #75fa69;
  animation-duration: 0.01s;
  animation-name: textflicker;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes textflicker {
  from {
    text-shadow: 1px 0 0 #ea36af, -2px 0 0 #75fa69;
  }
  to {
    text-shadow: 2px 1px 2px #ea36af, -1px -1px 2px #75fa69;
  }
}











/*Animated Typo - Fliessband
https://www.youtube.com/watch?v=WqZZppQd87M&t=43s*/
section{
position: relative;
width: 100%;
height: 100vh;
display: flex;
overflow: hidden;
z-index: -200;
}

section div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section div:nth-child(2){
  background: #33036f;
  clip-path: circle(200px at center);
}

section div h4 {
  position: absolute;
  left: 0;
  font-size: 500px;
  white-space: nowrap;
  /*line-height: 100vh;*/
  cursor: default;
  animation: animate 300s linear infinite;
}

section div:nth-child(2) h4 {
  -webkit-text-stroke: 2px;
  -webkit-text-stroke-color:rgb(255, 255, 255);
  color: transparent;
}

@keyframes animate {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}












/*Waterdrop*/
.container{
  /*position: fixed;*/
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  flex-wrap: wrap;
  padding: 0px 0px;
  z-index: 9000;
  /*gap: 40px 60px;*/
}

.container .drop {
  /*position: relative;*/
  width: 1300px;
  height: 1300px;
  box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05),
  25px 35px 20px rgba(0, 0, 0, 0.05),
  25px 30px 30px rgba(0, 0, 0, 0.05),
  inset -20px -20px 25px rgba(255, 255, 255, 0.9);
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  /*margin-bottom: 1000px;*/
  margin-left: 0;
  margin-right: 0;
 }


.container .drop:nth-child(1){
  justify-self: start;
  border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
  width: 35%;
  height: 35%;
  margin-top: 2100px;
}
.container .drop:nth-child(2){
  justify-self: right;
  border-radius: 73% 27% 59% 41% / 57% 59% 41% 43%;
  width: 20%;
  height: 20%;
  margin-top: 1700px;
}
.container .drop:nth-child(3){
  border-radius: 39% 61% 75% 25% / 30% 58% 42% 70%; 
  width: 30%;
  height: 30%;
  margin-top: 0px;
  justify-self: left;
  margin-right: 150px;
  z-index: -10;
}
.container .drop:nth-child(4){
  border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
  height: 25%;
  width: 25%;
  margin-top: 3900px;
}
.container .drop:nth-child(5){
  border-radius: 73% 27% 59% 41% / 57% 59% 41% 43%;
  height: 40%;
  width: 40%;
  margin-top: 2200px;
  margin-right: 100px;
}
.container .drop:nth-child(6){
  border-radius: 39% 61% 75% 25% / 30% 58% 42% 70%; 
  height: 15%;
  width: 15%;
  margin-top: 2000px;
}
.container .drop:nth-child(7){
  border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
  width: 20%;
  height: 20%;
  margin-top: 200px;
}
.container .drop:nth-child(8){
  border-radius: 73% 27% 59% 41% / 57% 59% 41% 43%;
  margin-top: 6000px;
  height: 30%;
  width: 30%;
}
.container .drop:nth-child(9){
  border-radius: 39% 61% 75% 25% / 30% 58% 42% 70%; 
  height: 25%;
  width: 25%;
  margin-top: -1000px;
}
.container .drop:nth-child(10){
  border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
  width: 15%;
  height: 15%;
  margin-top: 1000px;
}
.container .drop:nth-child(11){
  border-radius: 73% 27% 59% 41% / 57% 59% 41% 43%;
  width: 40%;
  height: 40%;
  margin-top: 1800px;
  margin-right: 800px;
}
.container .drop:nth-child(12){
  border-radius: 39% 61% 75% 25% / 30% 58% 42% 70%; 
  margin-top: 4400px;
  width: 40%;
  height: 40%;
  margin-right: 60px;
}
.container .drop:nth-child(13){
  border-radius: 73% 27% 59% 41% / 57% 59% 41% 43%; 
  height: 20%;
  width: 20%;
  margin-top: 2500px;
}
.container .drop:nth-child(14){
  border-radius: 39% 61% 75% 25% / 30% 58% 42% 70%; 
  height: 25%;
  width: 25%;
  margin-top: 2700px;
}
.container .drop:nth-child(15){
  border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
  height: 10%;
  width: 10%;
  margin-top: 3500px;
  margin-left: 900px;
}
.container .drop:hover {
  border-radius: 50%;
}











/*cursor*/
.cursor:hover{
  cursor: pointer;
}










/*small gallery*/
.imageContainer{
  margin-top: 200px;
  margin-bottom: 400px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap;
  }

.imageOne{
  width: 60%;
  margin-top: 200px;
  margin-right: 600px;
  margin-bottom: 70px;
}

.imageTwo{
  width: 20%;
  margin-left: 250px;
}

.imageThree{
  width: 45%;
  margin-bottom: 70px;
}

.imageFour{
  width: 30%;
  margin-left: 35%;
  margin-bottom: 70px;
}

.imageFive{
  width: 100%;
}







/*Split Screen*/
.imageContainerTwo{
  margin-top: 400px;
  margin-bottom:400px;
  width: 100vw;
  height: 245vh;
  display:flex;
  justify-content:center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  }

.imageContainerTwo img{
width: 50%;
height: auto;
transform: scale(2);
transform-origin: center;
} 

.imageContainerTwo img:first-child {
  margin-right: 25%;
}

.imageContainerTwo img:last-child {
  margin-left: 25%;
}

.imageSix{
  rotate: 180deg;
  margin-top: 700px;
  margin-bottom: 500px;
}

.imageSeven{
  margin-top: 700px;
  margin-bottom: 500px;
}
 






/*Titel Visual Voyager*/
.vV{
  margin-top: 400px;
}



