html, body {
  margin: 1rem;
  padding: 1rem;
  display:flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: stretch;
}

canvas {
  display: block;
}


body > *{
  width:50vw;
  
}