html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "/fonts/KKL-Narrow.otf";
    height: 300vh;
}

canvas {
    display: block;
    position: fixed;
    top: 0px
}