* {
  box-sizing: border-box;
}

#enterVRButton{
  position: fixed;
  z-index: 10;
}

body, html {
  width: auto;
  height: auto;
  font-family: sans-serif;
}

#canvas {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  overflow: visible;
}


#instruction {
  word-spacing: auto;
  text-align: justify;
  position: absolute;
  top: 0px;
  bottom: 15px;
  left: 15px;
  font-size: 20px;
  font-family: Morgant;
  z-index: 100;
  text-transform: uppercase;
}


#claim {
  text-transform: uppercase;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  max-width: 80%;
  text-align: center;
  z-index: 20;
  font-size: 15vw;
  line-height: 13vw;
}